# Security Configuration
API_KEY=master-secret-key
ENCRYPTION_KEY=wz72Q... # Fernet Key (32 url-safe base64-encoded bytes)
AGENT_URL=https://localhost:8001
MODEL_URL=https://localhost:8000
ROOT_CA_PATH=./ca/certs/root_ca.crt
